@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Đảm bảo nội dung vẫn có thể cuộn */
  body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .active {
        @apply text-primary;
    }
  :root {

        --radius: 0.5rem;
    }
}
html {
    font-family: "Questrial", sans-serif;
}